Modules/WindowsAzure/Microsoft.WindowsAzure.Management/XmlSchema/SubscriptionsData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:Microsoft.WindowsAzure.Management:WaPSCmdlets" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Subscriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Subscription">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SubscriptionId" type="xs:string" />
              <xs:element name="Thumbprint" type="xs:string" />
              <xs:element name="ServiceEndpoint" type="xs:string" />
              <xs:element name="SQLAzureServiceEndpoint" type="xs:string" />
              <xs:element name="CurrentStorageAccount" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>